
$maincolor: #1e2529;
$secondcolor:  #86a5c7;
$thirdcolor: #eff0a8;
$fourthcolor: #fff;
$mainfont: 'Roboto', sans-serif;
$headerfont: 'Arial', sans-serif;

@import "components/setup";
@import "components/homepage";
@import "components/landingpage";
@import "components/launchdetails";
@import "components/multilaunchmap";

body{
    font-family: $mainfont;
    font-size: 100%;
}

.wrapper{
    width: 90%;
    max-width: 1080px;
    min-width: 400px;
    margin: 0 auto;
}

img{
    width: 100%;
}