article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  text-align: center; }

.spaceX {
  font-size: 60px; }

h2 {
  color: #fff;
  margin-bottom: 40px; }
  h2 .index {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
    right: 5px;
    color: #86a5c7;
    padding: 5px; }

.home-header {
  margin-bottom: 10px;
  font-size: 40px; }

.homepage {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../public/assets/space-hero-image.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed; }

.panel {
  height: 90vh;
  background: black;
  clip-path: inset(10px 20px 30px 40px);
  background-clip: border-box; }

.parallax {
  padding: 60px 0;
  border-radius: 5px 5px;
  width: 80%;
  height: 550px;
  margin: 20px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-clip: transparent;
  color: white; }

.tagline {
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px; }

.tagline:before {
  content: open-quote;
  color: #86a5c7;
  font-size: 70px;
  font-family: sans-serif; }

.tagline:after {
  content: close-quote;
  color: #86a5c7;
  font-size: 70px;
  font-family: sans-serif; }

.launch-stats {
  width: 900px;
  margin: 0 auto;
  font-weight: 300;
  letter-spacing: 1px; }

.launch-stats p {
  line-height: 1.6rem;
  text-align: center;
  width: 33.33%;
  float: left;
  margin: 80px 0 50px 0; }

.left {
  text-align: left; }

.right {
  text-align: right; }

svg {
  margin-top: 30px;
  height: 200px;
  fill: lightgrey;
  box-sizing: border-box;
  animation: float 6s ease-in-out infinite; }

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px); }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px); }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px); } }

.timer {
  width: 500px;
  margin: 20px auto; }

.timer div[style] {
  background: none;
  padding: 20px 20px 40px 20px; }

.section[style] {
  background-color: lightgrey !important;
  border-radius: 5px !important;
  position: relative !important;
  padding: 0 !important;
  margin: 0 10px !important; }

.time[style] {
  display: block !important;
  color: black !important;
  font-size: 40px !important;
  padding: 0 !important;
  margin: 0 !important;
  letter-spacing: 0.5px !important;
  font-family: "Roboto", sans-serif !important;
  background-color: none !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important; }

.label[style] {
  display: block !important;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  text-align: center !important;
  position: relative !important;
  top: 90px;
  margin-top: 20px !important;
  background: none !important;
  color: #86a5c7 !important; }

.countdown-block {
  width: 500px;
  height: 15px;
  border-radius: 5px 5px;
  background: #535353;
  position: relative;
  top: 75px; }

.count-up {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase; }

form {
  border: none;
  margin-top: 80px;
  height: 50px; }

select {
  border: 1px solid white;
  padding: 10px;
  background: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300; }

.submit {
  text-decoration: none;
  padding: 10px; }

.submit input[type="text"] {
  text-transform: uppercase; }

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #86a5c7;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px; }

.pin:after {
  content: "";
  width: 20px;
  height: 20px;
  margin: 0 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%; }

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s; }

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 20px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2; }

.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -8px 0 0 -18px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #86a5c7;
  animation-delay: 1.1s; }

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0; } }

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg); }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg); }
  80% {
    transform: translateY(-10px) rotate(-45deg); }
  100% {
    transform: translateY(0) rotate(-45deg); } }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: black; }

.main-container {
  margin: 0;
  padding: 0; }

.landing-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../public/assets/spacex-blastoff.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.landing-page-text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.landing-page-text h2 {
  font-size: 60px;
  margin-bottom: 80px; }

.app-button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 2px white;
  position: relative;
  vertical-align: middle;
  cursor: pointer; }

.app-button::before, .app-button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%; }

.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0; }

.draw::before {
  top: 0;
  left: 0; }

.draw::after {
  bottom: 0;
  right: 0; }

.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%; }

.draw:hover::before {
  border-top-color: #1e2529;
  border-right-color: #1e2529;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }

.draw:hover::after {
  border-bottom-color: #1e2529;
  border-left-color: #1e2529;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

.launch_details__container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../../public/assets/space-hero-image.jpg");
  background-size: cover;
  background-position: center; }
  .launch_details__container h2 {
    font-family: "Arial", sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
  .launch_details__container .launch_details__box {
    width: 100%;
    background: #1e2529; }
    .launch_details__container .launch_details__box .patch {
      width: 250px;
      float: left;
      width: 50%;
      padding: 15px 20px; }
    .launch_details__container .launch_details__box .flight-details-text {
      float: left;
      width: 50%;
      padding: 15px 30px; }
      .launch_details__container .launch_details__box .flight-details-text p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #fff; }
  .launch_details__container iframe {
    width: 100%;
    height: 480px;
    margin-top: 100px; }
  .launch_details__container .flight-details-links p {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #fff;
    margin-top: 60px; }

.multi-launch-section {
  padding-top: 75px;
  padding-bottom: 200px;
  background-color: black;
  background-image: url(../assets/multiLaunch-form-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25px -75px;
  color: #fff;
  text-align: center;
  height: 100vh; }

.multi-launch-section h2 {
  color: #fff;
  font-weight: 900;
  margin-bottom: 30px;
  letter-spacing: 5px;
  font-size: 2.5rem; }

.multi-launch-section h3 {
  margin-bottom: 100px;
  letter-spacing: 2px; }

.multi-launch-section a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.multi-launch-section label {
  margin-left: 30px;
  font-size: 1.125rem; }

.multi-launch-section select {
  margin-left: 25px;
  padding: 5px 30px;
  text-align: center;
  background-color: transparent;
  border: none;
  border: 1px solid #555;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s;
  font-size: 1.125rem; }

.multi-launch-section select:hover {
  color: #eff0a8;
  background-color: rgba(134, 165, 199, 0.5); }

.multi-launch-section option {
  background-color: black; }

.multi-launch-section input {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid transparent;
  border-left: 2px dashed #555;
  border-right: 2px dashed #555;
  transition: all 0.5s;
  font-size: 1.125rem; }

.multi-launch-section input:hover {
  color: #86a5c7;
  border: 2px dashed #555; }

.multi-launch-form {
  margin: 0 auto;
  margin-bottom: 80px; }

.multi-launch-generated-map {
  padding: 80px 0px;
  background-color: transparent;
  color: white;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%; }

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto; }

h2 {
  font-family: "Arial", sans-serif; }

img {
  width: 100%; }
