body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.spaceX{
    font-size: 60px;
}

h2{
    color: $fourthcolor;
    .index{
        font-size: 12px;
        font-weight: 400;
        position: relative;
        bottom: 20px;
        right: 5px;
        color: $secondcolor;
        // border: 1px solid white;
        padding: 5px;
        // border-radius: 5px 5px;
    }
}

.home-header{
    margin-bottom: 10px;
    font-size: 40px;
}  

// Homepage Hero
.homepage{
    margin: 0;
    
    // height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../../public/assets/space-hero-image.jpg'); 
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

// Panel Styles
.panel{
    height: 80vh;
    margin-bottom: 50px;
}

.parallax{
    background: rgba(0, 0, 0, 0.6);
    // background: transparent;
    padding: 60px 0;
    border: 2px solid white;
    border-radius: 5px 5px;
    width: 80%;
    height: 80vh;
    margin: 20px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-clip: transparent;
    color: white;
}

// About SpaceX Panel

.tagline{
    color: $fourthcolor;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.6rem;
    color: lightgrey;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
}

.tagline:before{
    content: open-quote;
    color: $secondcolor;
    font-size: 70px;
    font-family: sans-serif;
    position: absolute;
    top: 15px;
    left: -20px;
    margin: 0;
    padding: 0;
}

.tagline:after{
    content: close-quote;
    color: $secondcolor;
    font-size: 70px;  
    font-family: sans-serif;
    position: absolute;
    top: 48px;
    right: -5px;
    margin: 0;
}

// Upcoming Launch Panel

.launch-stats{
    width: 900px;
    margin: 0 auto;
    font-weight: 300;
    letter-spacing: 1px;
}

.launch-stats p{
    line-height: 1.6rem;
    text-align: center;
    width: 33.33%;
    float: left;
    margin: 80px 0 50px 0;
    color: $secondcolor;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: Arial;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

// Floating Rocket Icon
svg{
    margin-top: 30px;
    height: 200px;
    fill: lightgrey;
    box-sizing: border-box;
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


// Countdown Timer Styles

.timer{
    width: 500px;
    margin: 20px auto;
}

.timer div[style]{
    background: none;
    padding: 20px 20px 40px 20px;
}

// Countdown Background Plate
.section[style]{
    background-color: lightgrey !important;
    border-radius: 5px !important;
    position: relative !important;
    padding: 0 !important;
    margin: 0 10px !important;
}

// Countdown Numbers
.time[style]{
    display: block !important;
    color: black !important;
    font-size: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    letter-spacing: 0.5px !important;
    font-family: $mainfont !important;
    background-color: none !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
   
}

// Label for Numbers
.label[style]{
    display: block !important;
    text-transform: uppercase;
    font-family: $mainfont !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    text-align: center !important;
    position: relative !important;
    top: 90px;
    margin-top: 20px !important;
    background: none !important;
    color: $secondcolor !important;
}

.countdown-block{
    width: 500px;
    height: 15px;
    border-radius: 5px 5px;
    background: rgb(83, 83, 83);
    position: relative;
    top: 75px;
}

.count-up{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;

}


// Select Launch Panel

// Form Styling
form{
    border: none;
    margin-top: 80px;
    height: 50px;
}

select{
    border: 1px solid white;
    padding: 10px;
    background: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.submit{
    text-decoration: none;
    padding: 10px;
}

.submit input[type="text"]{
    text-transform: uppercase;
}


// Multi Launch Map Panel

// Pin Animation 
.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: $secondcolor;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.pin:after {
  content: "";
  width: 20px;
  height: 20px;
  margin: 0 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 20px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -8px 0 0 -18px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px $secondcolor;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
