body{
    text-align: center;
}

h2{
    font-size: 60px;
    color: $fourthcolor;
    padding: 60px 0 0 0;
}

.index{
    font-size: 12px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
    right: 5px;
    color: $secondcolor;
    padding: 5px;
}

.homepage-title{
    margin: 0;
}

.home-header{
    margin-bottom: 10px;
    font-size: 40px;
}  

// Homepage Hero
.homepage{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../../public/assets/space-hero-image.jpg'); 
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    padding: 25px;
}

.parallax{
    background: rgba(0, 0, 0, 0.6);
    padding: 60px 0;
    border: 2px solid white;
    border-radius: 5px 5px;
    height: 80vh;
    margin: 40px auto;
    background-clip: transparent;
    color: white;
    padding: 0 5%;
}

// About SpaceX Panel
.tagline{
    color: $fourthcolor;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.6rem;
    color: lightgrey;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    padding-bottom: 30px;
}

.quotable{
    color: $secondcolor;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

// Upcoming Launch Panel

.launch-stats{
    margin: 0 auto;
    font-weight: 300;
    letter-spacing: 1px;
    p{
        line-height: 1.6rem;
        text-align: center;
        width: 33.33%;
        float: left;
        padding: 30px 0 50px 0;
        font-weight: 300;
        font-family: Arial;
        color: darkgrey;
        text-transform: uppercase;
    }
    .dynamic-text{
        font-size: 25px;
        color: $secondcolor;
        display: block;
    }
}


.left{
    text-align: left;
}

.right{
    text-align: right;
}

// Floating Rocket Icon
svg{
    margin-top: 30px;
    height: 200px;
    fill: lightgrey;
    box-sizing: border-box;
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


// Countdown Timer Styles
.timer{
    width: 700px;
    margin: 0 auto;
}

.timer-container div[style] div[style]:first-child{
    min-width: 100px !important;
    min-height: 100px !important;
    background-color: lightgrey !important;
    border-radius: 5px !important;
    position: relative !important;
    margin: 0 10px !important;
    height: 40px !important;
    width: 40px !important;
}

.timer-container div[style] div[style]:first-child{
    padding: 0 !important;
    margin: 0 !important;
}

.timer-container div[style] div[style] div[style]:first-child{
    padding-top: 25px !important;
}


.timer div[style]{
    background: none;
    padding: 20px 20px 40px 20px;
}

// Countdown Background Plate
.section[style]{
    background-color: lightgrey !important;
    border-radius: 5px !important;
    position: relative !important;
    padding: 0 !important;
    height: 40px !important;
    width: 40px !important;
}

// Countdown Numbers

.time[style]{
    color: black !important;
    font-size: 40px !important;
    margin-top: 20px !important;
    margin: 0 !important;
    letter-spacing: 0.5px !important;
    font-family: $mainfont !important;
    background-color: none !important;
    align-content: center !important; 
}

// Label for Numbers

.label[style]{
    display: block !important;
    text-transform: uppercase;
    font-family: $mainfont !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    text-align: center !important;
    position: relative !important;
    margin-top: 2px !important;
    background: none !important;
    color: $secondcolor !important;
}

.countdown-block{
    width: 700px;
    height: 15px;
    border-radius: 5px 5px;
    background: rgb(83, 83, 83);
    position: relative;
    top: 75px;
}


// Select Launch Panel

.select-launch .home-header{
    margin-bottom: 50px;
}

.count-up{
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $secondcolor;
    span{
        font-weight: 400;
        border-bottom: 2px solid $secondcolor;
        border-top: 2px solid $secondcolor;
    }
}

.select-text{
    font-size: 16px;
    font-weight: 300;
    margin: 40px 0 100px 0;
    letter-spacing: 1px;
}

// Form Styling

form{
    border: none;
    margin-top: 80px;
    height: 50px;
}

select{
    border: 1px solid white;
    padding: 10px;
    background: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.submit{
    text-decoration: none;
    padding: 10px;
}

.submit input[type="text"]{
    text-transform: uppercase;
}


// Multi Launch Map Panel

.multi-launch-map .home-header{
    margin-bottom: 50px;
}

// US Map

.us-map{
    width: 350px;
    margin: 20px auto 60px auto;
    position: relative;
}

// Pin Animation

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: $secondcolor;
  position: absolute;
  transform: rotate(-45deg);
  right: 25%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.pin:after {
  content: "";
  width: 14px;
  height: 14px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}

.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px $secondcolor;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}


// Button Animation
.home-page-button{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    color: $fourthcolor;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 2px white;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 20px;
    input[type=submit]{
        background: none;
        color: $fourthcolor;
        border: none;
        text-transform: uppercase;
    }
}

.goMap{
    padding-bottom: 60px;
}

.home-page-button::before, .home-page-button::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.line-draw::before, .line-draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.line-draw::before {
    top: 0;
    left: 0;
}

.line-draw::after {
    bottom: 0;
    right: 0;
}

.line-draw:hover::before, .line-draw:hover::after {
    width: 100%;
    height: 100%;
    
}

.line-draw:hover::before {
    border-top-color:$secondcolor;
    border-right-color: $secondcolor;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.line-draw:hover::after {
    border-bottom-color: $secondcolor;
    border-left-color:$secondcolor;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    color: $secondcolor;
}

// Responsive Styles

@media (max-width: 922px){
    .parallax.launch-form{
        height: auto;
        padding-bottom: 50px;
    }

    .parallax{
        padding-bottom: 40px;
    }

    form{
        margin: 0px;
        margin-top: 30px;
    }
    .select-text{
        line-height: 20px;
        margin: 0px;
    }
    .count-up{
        line-height: 40px;
    }

    form select{
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

     .parallax .home-header{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .launch-stats 
        p{
            display: block;
            width: 100%;
            margin: 0;
            padding: 10px;
            line-height: 25px;
        }
        .dynamic-text{
            font-size: 12px;
            line-height: 30px;
            margin-top: 10px;
        }

        .tagline{
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .us-map{
            margin-bottom: 0;
            padding: 0;
        }

        .timer-container{
            display: none;
        }
}

@media (max-width: 645px){
    .section[style]{
        display: none !important;
    }

    .time[style]{
        color: white !important;
        margin: 0 !important;
        font-size: 25px !important;
    }

    .countdown-block{
        display: none;
    }

    .label[style]{
        margin: 0 !important;
    }
}

@media (max-width: 530px){
    .tagline{
        text-align: left;
    }
}