body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: black;
}

.main-container{
    margin: 0;
    padding: 0;
}

// Hero Image
.landing-page{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../../public/assets/spacex-blastoff.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

// H2
.landing-page-text{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.landing-page-text h2{
    font-size: 60px;
    margin-bottom: 80px;
}

// Button and Button Animation

.app-button{
    text-decoration: none;
    text-transform: uppercase;
    // border: 1px solid $fourthcolor;
    padding: 15px 20px;
    color: $fourthcolor;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 2px white;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.app-button::before, .app-button::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}

.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}

.draw:hover::before {
    border-top-color:$maincolor;
    border-right-color: $maincolor;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
    border-bottom-color: $maincolor;
    border-left-color:$maincolor;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

