.launch_details__container{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../../public/assets/space-hero-image.jpg');
    background-size: contain;
    // background-position: center;

    h2{
        font-family: $headerfont;
        font-size: 50px;
        color: $fourthcolor;
        text-align: center; 
        text-transform: uppercase;
    }

    // Panel Container
    .launch_details__box{
        .parallax{
            padding: 100px 40px;
        }

        .patch{
            float: left;
            width: 50%;
            padding: 15px 20px;
            position: relative; 
            top: 50%;
            transform: translateY(-50%);
            img{
                width: 450px;
            }
        }

        .launch-info-container{
            float: left;
            width: 50%;
        }

        .flight-details-text{  
            text-align: left;
            margin-bottom: 40px;
            h4{
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                border-bottom: 1px solid white;
                padding-bottom: 8px;
            }
            p{
                font-family: $mainfont;
                font-size: 16px;
                color:$fourthcolor;
                margin: 10px 0;
                line-height: 25px;
            }
        }

        // Links 
        .flight-details-links{
            text-align: left;
            .about-this-flight{
                font-weight: 500;
                text-transform: uppercase;
                margin: 20px 0 20px 0;
                letter-spacing: 0.5px;
                border-bottom: 1px solid white;
                padding-bottom: 5px;
            }
            p{
                font-family: $mainfont;
                font-size: 16px;
                color: $fourthcolor;
                margin: 10px 0;
                a{
                    text-transform: uppercase;
                    color: $secondcolor;
                    text-decoration: none;
                    border-bottom: 1px solid $secondcolor;
                    letter-spacing: 0.5px;
                }
            }

        }
    }

    // Back                                                                 
    .fa-arrow-alt-circle-left{
        color: white;
        float: left;
        font-size: 50px;
        position: fixed;
        right: 50px;
        bottom: 10px;
    }

    // Youtube Video
    .video-container .parallax{
        margin: 0 auto;
        padding: 0;
    }
    iframe{
        width: 100%;
        height: 480px;
        position: relative; 
        top: 50%;
        transform: translateY(-50%);
    }  
}

