.multi-launch-section {
   padding-top: 75px;
   padding-bottom: 200px;
   background-color: black;
   background-image: url(../assets/multiLaunch-form-bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 25px -75px;
   color: #fff;
   text-align: center;
}

.multi-launch-section h2 {
   color: #fff;
   font-weight: 900;
   margin-bottom: 30px;
   letter-spacing: 5px;
   @include remCalc(40);
}

.multi-launch-section h3 {
   margin-bottom: 100px;
   letter-spacing: 2px;
}

.multi-launch-section a {
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
}

.multi-launch-section label {
   margin-left: 30px;
   @include remCalc(18);
}

.multi-launch-section select {
   margin-left: 25px;
   padding: 5px 30px;
   text-align: center;
   background-color: transparent;
   border: none;
   border: 1px solid #555;
   color: white;
   text-transform: uppercase;
   transition: all 0.5s;
   @include remCalc(18);
}

.multi-launch-section select:hover {
   color: #eff0a8;
   // background-color: rgba(0,0,0,0.5);
   background-color: rgba(134,165,199,0.5);
}

.multi-launch-section option {
   background-color: rgb(0,0,0);
}

.multi-launch-section input {
   display: block;
   margin: 0 auto;
   margin-top: 50px;
   padding: 5px 30px;
   // text-transform: uppercase;
   color: white;
   background-color: transparent;
   border: 2px solid transparent;
   border-left: 2px dashed #555;
   border-right: 2px dashed #555;
   transition: all 0.5s;
   @include remCalc(18);
}

.multi-launch-section input:hover {
   color: #86a5c7;
   // border: 2px dashed #86a5c7;
   border: 2px dashed #555;
}

.multi-launch-form {
   margin: 0 auto;
   margin-bottom: 250px;
}

.multi-launch-generated-map {
   padding: 250px 0px;
   background-color: black;
   color: white;
   text-align: center;
}